@{
    ViewBag.Title = "Home Page";
}

<div id="container">
<div class="jumbotron">
    <h1>Bonjour, Tech Summit Paris!</h1>
    <p class="lead">Welcome to Azure App Service!</p>
</div>
    <img src="https://sydneytechsummit.blob.core.windows.net/sydneyharbourbridge/SunnySeattle.jpeg" alt="" width=100%/>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Clear skies, stomachs full, <a href="https://twitter.com/hashtag/AppService?src=hash&amp;ref_src=twsrc%5Etfw">#AppService</a> demos ready ✌ Can&#39;t wait to meet you all! <a href="https://twitter.com/hashtag/MSTechSummit?src=hash&amp;ref_src=twsrc%5Etfw">#MSTechSummit</a> <a href="https://t.co/hWDJtFDVul">pic.twitter.com/hWDJtFDVul</a></p>&mdash; Jennifer Lee (@JenLeeWA) <a href="https://twitter.com/JenLeeWA/status/973587131783401473?ref_src=twsrc%5Etfw">March 13, 2018</a></blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>


<!-- <div class="row">
    <div class="col-md-4 text-center">
        <p><a class="btn btn-lg btn-danger" href="~/ProduceError/500">500 Error</a></p>
    </div>
    <div class="col-md-4 text-center">
        <p><a class="btn btn-lg btn-warning" href="~/ProduceError/404">404 Not Found</a></p>
    </div>
    <div class="col-md-4 text-center">
        <p><div class="btn btn-lg btn-success" id="logsButton">Produce Logs</div></p>
    </div>
</div>

@section scripts {
<script>
    $(function() {
        $("#logsButton").click(function() {
            $.get("@Url.Action("ProduceLogs", "Home")");
        });
    });
</script>
} -->

<script type="text/javascript">
(function() {

var img = document.getElementById('container').firstChild;
img.onload = function() {
    if(img.height > img.width) {
        img.height = '50%';
        img.width = 'auto';
    }
};

}());
</script>
