@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello Sydney !!!</h1>
    <p class="lead">Azure Tech Summit 2017</p>
</div>

<div id="container">
    <img src="https://us.sydney.com/sites/international/files/styles/header_slider/public/2016-12/Sydney-Harbour.jpg?itok=QmFhEdGP" alt="" />
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <p><a class="btn btn-lg btn-danger" href="~/ProduceError/500">500 Error</a></p>
    </div>
    <div class="col-md-4 text-center">
        <p><a class="btn btn-lg btn-warning" href="~/ProduceError/404">404 Not Found</a></p>
    </div>
    <div class="col-md-4 text-center">
        <p><div class="btn btn-lg btn-success" id="logsButton">Produce Logs</div></p>
    </div>
</div>

@section scripts {
<script>
    $(function() {
        $("#logsButton").click(function() {
            $.get("@Url.Action("ProduceLogs", "Home")");
        });
    });
</script>
}
